<h1>AUTORES</h1> <small>{{autores.lenght}}</small>
<hr>

<form class="form-inline my-12 my-lg-0 col-12">
    <input class="form-control mr-sm-5 col-9" type="text" placeholder="Buscar autor" (keyup.enter)="buscarAutor(buscarTexto.value)" #buscarTexto>
    <button (click)="buscarAutor(buscarTexto.value)" class="btn btn-outline-primary col-2" type="button">Buscar</button>
</form>

<br>

<div class="card-columns">

    <div class="card" *ngFor="let autor of autores; let i = index">
        <div class="menuLibros">
            <img class="card" [src]="autor.img" alt="autor.nombre">
        </div>
        <div class="card-block" style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">
            <h4 class="card-title"> <i>{{ autor.nombre| uppercase}}</i> </h4>
            <hr>
            <div class="limitar">
                <p class="card-text"> {{ autor.bio | truncate : 250 }} </p>
            </div>
            <br>
            <button (click)="verAutor(i)" type="button" class="btn btn-outline-primary btn-block"> Ver más...</button>
        </div>
    </div>
</div>